NEXT_PUBLIC_CONTRACT_ADDRESS=0xC7d598a10DB4300CB2634f25A62b816bCBd1Ea4b
NEXT_PUBLIC_EXECUTOR_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=1979
NEXT_PUBLIC_RPC_URL=https://rpc.ritualfoundation.org
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
